@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: ghostwhite;
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    color: mediumblue;
    text-decoration: none;
}

hr {
    width: 100px;
    margin: 8px !important;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainItem {
    margin: 8px 0px;
}

.projectBox {
    width: 600px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    /* word-break: break-all; */
}

.projectBox *{
    margin: 4px 0px;
}

.projectScreenshot {
    width: 200px;
    height: 100px;
    border: 1px solid gainsboro;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 650px) {
    .projectBox {
        width: 75vw;
    }
}
